* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  /* font-family: math; */
  background-color: rgb(46, 46, 46);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: black;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 45%);
}

nav h2 {
  color: white;
  /* padding: 10px; */
  padding: 5px 0;
}

.search {
  display: flex;
  gap: 5px;
  align-items: center;
  /* padding: 22px; */
}

.search input {
  padding: 3px 1px;
}

#icn-btn {
  display: none;
}

.right-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5px 0;
}

main {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px;
  margin: 40px 0;
}

.player {
  width: 90%;
  margin: auto 18px;
  text-align: center;
  padding: 20px;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(yellow, orange);
  height: 35vmin;
  border-radius: 5px 5px 0 0;
  box-shadow: 10px 5px 7px rgb(0 0 0 / 45%);
}

.display p {
  font-size: larger;
  color: #373737;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 66%);
}

.controls {
  padding: 20px;
  background: linear-gradient(45deg, black, transparent);
  border-radius: 0 0 5px 5px;
  box-shadow: 10px 5px 7px rgb(0 0 0 / 45%);
}

.controls button, nav button {
  margin: 5px;
  padding: 2px 3px;
  background: linear-gradient(-45deg, black, transparent);
  color: white;
  border-radius: 4px;
} 

nav button {
  margin: 0;
}

/* render */
#render-box {
  width: 90%;
  padding: 0 20px;
}

#render-box h4, nav h4 {
  color: whitesmoke;
  padding-bottom: 6px;
}

.search-div {
  display: none; 
  height: 0;
  transition: height 0.3s linear; 
  position: absolute;
  /* right: 5px; */
  /* top: 46px; */
  top: 70%;
}

#filtered-songs {
  /* height: 0;
  transition: height 0.3s linear; */
  background-color: rgba(0, 0, 0, 0.67);
  padding: 7px;
  border-radius: 3px;
}

#btn {
  background-color: transparent;
  padding: 0;
  font-size: medium;
}

#songs-list {
  border: 2px solid black;
  padding: 3px;
  max-height: 60vmin;
  overflow-y: auto;
}

#songs-list li {
  padding: 3px 0;
  border-bottom: 1.5px solid black;
}

li:hover {
  cursor: default;
  background-color: #00bbff7a;
}

.block {
  display: block;
  height: auto;
  transition: height 0.3s linear;
}

/* .clear {
  display: none;
} */


@media (max-width: 600px) {
  main {
    flex-direction: column;
    padding: 0;
    margin: 15px;
  }
  nav {
    position: sticky;
    top: 0;
    /* gap: 0; */
  }
  #icn-btn {
    display: inline-block;
  }
  .search button {
    background-color: transparent;
    padding: 0;
    font-size: 18px;
  }
  #text-btn {
    display: none;
  }
  .controls button {
    margin: 3px;
  }
  .search-div h4 {
    text-align: right;
  }
  #render-box {
    padding: 10px 0;
    margin: auto 20px;
  }
  #filtered-songs {
    background-color: rgba(0, 0, 0, 0.80);
  }  
  #songs-list {
    max-height: 70vmin;
  }
  .controls {
    padding: 10px;
    font-size: small;
  }
}
